<div style="display: flex; justify-content:center">
  <div class="row">
    <div class="margin-right: 10px">
      <label style="margin-top: 10px; margin-right: 5px">Entrada: </label>
      <input [(ngModel)]="entrada" rows="5" cols="50">
    </div>
    <div class="margin-left: 10px">
      <label style="margin-right: 20px; margin-top: 5px">Saída: </label>
      <input [(ngModel)]="saida" rows="5" cols="50">
    </div>
  </div>
  <div class="row">
    <button class="btn btn-success" style="margin-right: 10px; margin-top: 5px;" (click)="confirmar()">Confirmar</button>
    <button class="btn btn-warning" style="margin-left: 10px; margin-top: 5px; margin-left: 0px" (click)="limpar()">Limpar</button>
  </div>
</div>
